# 1.1 - Dates in Python

#### > Creating date objects

In [ ]:
# Import date
from datetime import date
# Create dates
two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]

#### > Attributes of a date

In [ ]:
# Import date
from datetime import date
# Create dates
two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]
print(two_hurricanes_dates[0].year)
print(two_hurricanes_dates[0].month)
print(two_hurricanes_dates[0].day)

#### > Finding the weekday of a date

In [ ]:
print(two_hurricanes_dates[0].weekday())

# 1.2 - Math with Dates

#### > Math with dates

In [ ]:
# Example numbers
a = 11
b = 14
l = [a, b]
# Find the least least in the list
print(min(l))
11

In [ ]:
# Subtract two numbers
print(b - a)
3
# Add 3 to a
print(a + 3)
14

In [ ]:
# Import date
from datetime import date
# Create our dates
d1 = date(2017, 11, 5)
d2 = date(2017, 12, 4)
l = [d1, d2]
print(min(l))
2017-11-05

In [ ]:
# Subtract two dates
delta = d2 - d1
print(delta.days)
29

In [ ]:
# Import timedelta
from datetime import timedelta
# Create a 29 day timedelta
td = timedelta(days=29)
print(d1 + td)
2017-12-04

# 1.3 - Turning dates into strings

#### > ISO 8601 format

In [ ]:
from datetime import date
# Example date
d = date(2017, 11, 5)
# ISO format: YYYY-MM-DD
print(d)

In [ ]:
# Express the date in ISO 8601 format and put it in a list
print( [d.isoformat()] )

In [ ]:
# A few dates that computers once had trouble with
some_dates = ['2000-01-01', '1999-12-31']
# Print them in order
print(sorted(some_dates))

#### > Every other format

In [ ]:
d.strftime()

#### > Every other format: strftime

In [ ]:
# Example date
d = date(2017, 1, 5)
print(d.strftime("%Y"))

In [ ]:
# Format string with more text in it
print(d.strftime("Year is %Y"))

In [ ]:
# Format: YYYY/MM/DD
print(d.strftime("%Y/%m/%d"))

# 2.1 - Adding time to the mix

#### > Dates and Times

In [ ]:
# Import datetime
from datetime import datetime

In [ ]:
# Import datetime
from datetime import datetime
dt = datetime(year=2017, month=10, day=1,
              hour=15, minute=23, second=25,
              microsecond=500000)
## 2017-10-01 15:23:25.500000

#### > Replacing parts of a datetime

In [ ]:
dt_hr = dt.replace(minute=0, second=0, microsecond=0)
print(dt_hr)

## 2017-10-01 15:00:00

# 2.2 - Printing and parsing datetimes

#### > Printing datetimes

In [ ]:
# Create datetime
dt = datetime(2017, 12, 30, 15, 19, 13)
print(dt.strftime("%Y-%m-%d"))

In [ ]:
print(dt.strftime("%Y-%m-%d %H:%M:%S"))

In [ ]:
print(dt.strftime("%H:%M:%S on %d/%m/%Y"))

#### > ISO 8601 Format

In [ ]:
# ISO 8601 format
print(dt.isoformat())

#### > Parsing datetimes with strptime

In [ ]:
# Import datetime
from datetime import datetime
dt = datetime.strptime("12/30/2017 15:19:13","%m/%d/%Y %H:%M:%S")

In [ ]:
# What did we make?
print(type(dt))

In [ ]:
# Print out datetime object
print(dt)

In [ ]:
# Import datetime
from datetime import datetime
# Incorrect format string
dt = datetime.strptime("2017-12-30 15:19:13","%Y-%m-%d")

#### > Parsing datetimes with Pandas

In [ ]:
# A timestamp
ts = 1514665153.0
# Convert to datetime and print
print(datetime.fromtimestamp(ts))

# 2.3 - Working with durations

In [ ]:
# Create example datetimes
start = datetime(2017, 10, 8, 23, 46, 47)
end = datetime(2017, 10, 9, 0, 10, 57)

In [ ]:
# Subtract datetimes to create a timedelta
duration = end - start

In [ ]:
# Subtract datetimes to create a timedelta
print(duration.total_seconds())

#### > Creating timedeltas

In [ ]:
# Import timedelta
from datetime import timedelta
# Create a timedelta
delta1 = timedelta(seconds=1)

In [ ]:
# One second later
print(start + delta1)
## 2017-10-08 23:46:48

In [ ]:
# Create a one day and one second timedelta
delta2 = timedelta(days=1, seconds=1)

In [ ]:
print(start)

In [ ]:
# One day and one second later
print(start + delta2)

#### > Negative timedeltas

In [ ]:
# Create a negative timedelta of one week
delta3 = timedelta(weeks=-1)

In [ ]:
print(start)
## 2017-10-08 23:46:47

In [ ]:
# One week earlier
print(start + delta3)
## 2017-10-01 23:46:47

# 3.1 - UTC offsets

#### > UTC

In [ ]:
# Import relevant classes
from datetime import datetime, timedelta, timezone
# US Eastern Standard time zone
ET = timezone(timedelta(hours=-5))
# Timezone-aware datetime
dt = datetime(2017, 12, 30, 15, 9, 3, tzinfo = ET)

In [ ]:
# India Standard time zone
IST = timezone(timedelta(hours=5, minutes=30))
# Convert to IST
print(dt.astimezone(IST))

#### > Adjusting timezone vs changing tzinfo

In [ ]:
print(dt)

In [ ]:
print(dt.replace(tzinfo=timezone.utc))

In [ ]:
# Change original to match UTC
print(dt.astimezone(timezone.utc))

# 3.2 - Time zone database

In [ ]:
# Imports
from datetime import datetime
from dateutil import tz
# Eastern time
et = tz.gettz('America/New_York')
## Format: 'Continent/City'

In [ ]:
# Last ride
last = datetime(2017, 12, 30, 15, 9, 3, tzinfo=et)
print(last)

In [ ]:
# First ride
first = datetime(2017, 10, 1, 15, 23, 25, tzinfo=et)
print(first)

# 3.3 - Starting Daylight Saving Time

#### > Start of Daylight Saving Time

In [ ]:
spring_ahead_159am = datetime(2017, 3, 12, 1, 59, 59)
spring_ahead_159am.isoformat()

In [ ]:
spring_ahead_3am = datetime(2017, 3, 12, 3, 0, 0)
spring_ahead_3am.isoformat()

In [ ]:
(spring_ahead_3am - spring_ahead_159am).total_seconds()

#### > Start of Daylight Saving Time

In [ ]:
from datetime import timezone, timedelta
EST = timezone(timedelta(hours=-5))
EDT = timezone(timedelta(hours=-4))

In [ ]:
spring_ahead_159am = spring_ahead_159am.replace(tzinfo = EST)
spring_ahead_159am.isoformat()

In [ ]:
spring_ahead_3am = spring_ahead_159am.replace(tzinfo = EDT)
spring_ahead_3am.isoformat()

In [ ]:
(spring_ahead_3am - spring_ahead_159am).seconds

In [ ]:
# Import tz
from dateutil import tz
# Create eastern timezone
eastern = tz.gettz('America/New_York')
# 2017-03-12 01:59:59 in Eastern Time (EST)
spring_ahead_159am = datetime(2017, 3, 12, 1, 59, 59,tzinfo = eastern)
# 2017-03-12 03:00:00 in Eastern Time (EDT)
spring_ahead_3am = datetime(2017, 3, 12, 3, 0, 0,tzinfo = eastern)

# 3.4 - Ending Daylight Saving Time

In [ ]:
eastern = tz.gettz('US/Eastern')
# 2017-11-05 01:00:00
first_1am = datetime(2017, 11, 5, 1, 0, 0,tzinfo = eastern)
tz.datetime_ambiguous(first_1am)

In [ ]:
# 2017-11-05 01:00:00 again
second_1am = datetime(2017, 11, 5, 1, 0, 0,tzinfo = eastern)
second_1am = tz.enfold(second_1am)

In [ ]:
(first_1am - second_1am).total_seconds()

In [ ]:
first_1am = first_1am.astimezone(tz.UTC)
second_1am = second_1am.astimezone(tz.UTC)
(first_1am - second_1am).total_seconds()

# 4.1 - Reading date and time data in Pandas

#### > Loading datetimes with parse_dates

In [ ]:
# Import W20529's rides in Q4 2017
rides = pd.read_csv('capital-onebike.csv',parse_dates = ['Start date','End date'])
# Or:
rides['Start date'] = pd.to_datetime(rides['Start date'],format ="%Y-%m-%d %H:%M:%S")

In [ ]:
# Select Start date for row 2
rides['Start date'].iloc[2]
## Timestamp('2017-10-02 06:37:10')

#### > Timezone-aware arithmetic

In [ ]:
# Create a duration column
rides['Duration'] = rides['End date'] - rides['Start date']
# Print the first 5 rows
print(rides['Duration'].head(5))

#### > Loading datetimes with parse_dates

In [ ]:
rides['Duration'].dt.total_seconds().head(5)

# 4.2 - Summarizing datetime data in Pandas

#### > Summarizing data in Pandas

In [ ]:
# Percent of time out of the dock
rides['Duration'].sum() / timedelta(days=91)

In [ ]:
# Count how many time the bike started at each station
rides['Member type'].value_counts()

In [ ]:
# Percent of rides by member
rides['Member type'].value_counts() / len(rides)

In [ ]:
# Add duration (in seconds) column
rides['Duration seconds'] = rides['Duration'].dt.total_seconds()
# Average duration per member type
rides.groupby('Member type')['Duration seconds'].mean()

#### > Summarizing datetime in Pandas

In [ ]:
# Average duration by month
rides.resample('M', on ='Start date')['Duration seconds'].mean()

In [ ]:
# Size per group
rides.groupby('Member type').size()

In [ ]:
# First ride per group
rides.groupby('Member type').first()

In [ ]:
rides.resample('D', on ='Start date')['Duration seconds'].mean().plot()

# 4.3 - Additional datetime methods in Pandas

#### > Timezones in Pandas

In [ ]:
rides['Duration'].dt.total_seconds().min()

In [ ]:
rides['Start date'].head(3)

In [ ]:
rides['Start date'].head(3).dt.tz_localize('America/New_York')

In [ ]:
# Try to set a timezone...
rides['Start date'] = rides['Start date'].dt.tz_localize('America/New_York')

In [ ]:
# Handle ambiguous datetimes
rides['Start date'] = rides['Start date'].dt.tz_localize('America/New_York', ambiguous='NaT')
rides['End date'] = rides['End date'].dt.tz_localize('America/New_York', ambiguous='NaT')

In [ ]:
# Re-calculate duration, ignoring bad row
rides['Duration'] = rides['Start date'] - rides['End date']
# Find the minimum again
rides['Duration'].dt.total_seconds().min()

#### > Other datetime operations in Pandas

In [ ]:
# Year of first three rows
rides['Start date'].head(3).dt.year

In [ ]:
# See weekdays for first three rides
rides['Start date'].head(3).dt.weekday_name

#### > Other parts of Pandas

In [ ]:
# Shift the indexes forward one, padding with NaT
rides['End date'].shift(1).head(3)