# 1.1 - Inner join

Tables = DataFrames \
Merging = Joining

In [2]:
import pandas as pd

In [7]:
ward = pd.read_csv('Ward_Offices.csv')
print(ward.head())
print(ward.shape)
print(ward.columns)

   WARD                    ALDERMAN                               ADDRESS  \
0    33  Rodriguez Sanchez, Rossana            3001 West Irving Park Road
1    17             Moore, David H.                 1344 West 79th Street
2    44              Tunney, Thomas  3223 North Sheffield Avenue, Suite A
3    37                 Mitts, Emma                5344 West North Avenue
4     4             King, Sophia D.                  435 East 35th Street

      CITY STATE  ZIPCODE      WARD PHONE        WARD FAX  \
0  Chicago    IL  60618.0  (773) 840-7880             NaN
1  Chicago    IL  60636.0  (773) 783-3672  (773) 783-3878
2  Chicago    IL  60657.0  (773) 525-6034  (773) 525-5058
3  Chicago    IL  60651.0  (773) 379-0960  (773) 773-0966
4  Chicago    IL  60616.0  (773) 536-8103    773-536-7296

                      EMAIL  \
0         Info@33rdward.org
1       Alderman@17ward.com
2  Ward44@cityofchicago.org
3  Ward37@cityofchicago.org
4  Ward04@cityofchicago.org

                                             WEBSITE                 LOCATION  \
0                                                NaN   (41.95392, -87.703301)
1           http://www.David.Moore@cityofchicago.org   (41.75044, -87.657221)
2                               http://44thward.org/  (41.940497, -87.654108)
3  https://www.cityofchicago.org/city/en/about/wa...  (41.909514, -87.759726)
4                       http://www.aldsophiaking.com   (41.831135, -87.61541)

                               CITY HALL ADDRESS CITY HALL CITY  \
0  121 North LaSalle Street, Room 200, Office 20        Chicago
1  121 North LaSalle Street, Room 300, Office 37        Chicago
2             121 North LaSalle Street, Room 304        Chicago
3  121 North LaSalle Street, Room 300, Office 45        Chicago
4  121 North LaSalle Street, Room 300, Office 29        Chicago

  CITY HALL STATE  CITY HALL ZIPCODE        CITY HALL PHONE
0              IL              60602         (312) 744-3373
1              IL              60602         (312) 744-3435
2              IL              60602  (312) 744-3073 / 3133
3              IL              60602  (312) 744-3180 / 1589
4              IL              60602         (312) 744-2690
(50, 16)
Index(['WARD', 'ALDERMAN', 'ADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'WARD PHONE',
       'WARD FAX', 'EMAIL', 'WEBSITE', 'LOCATION', 'CITY HALL ADDRESS',
       'CITY HALL CITY', 'CITY HALL STATE', 'CITY HALL ZIPCODE',
       'CITY HALL PHONE'],
      dtype='object')

In [11]:
wards = ward[['WARD','ALDERMAN','ADDRESS','ZIPCODE']].copy()

In [13]:
census = ward[['WARD','CITY','STATE','WARD PHONE','EMAIL']]

#### > Merging tables

#### > Inner join

In [16]:
wards_census = wards.merge(census,on='WARD')
wards_census.head()

,WARD,ALDERMAN,ADDRESS,ZIPCODE,CITY,STATE,WARD PHONE,EMAIL
0,33,"Rodriguez Sanchez, Rossana",3001 West Irving Park Road,60618.0,Chicago,IL,(773) 840-7880,Info@33rdward.org
1,17,"Moore, David H.",1344 West 79th Street,60636.0,Chicago,IL,(773) 783-3672,Alderman@17ward.com
2,44,"Tunney, Thomas","3223 North Sheffield Avenue, Suite A",60657.0,Chicago,IL,(773) 525-6034,Ward44@cityofchicago.org
3,37,"Mitts, Emma",5344 West North Avenue,60651.0,Chicago,IL,(773) 379-0960,Ward37@cityofchicago.org
4,4,"King, Sophia D.",435 East 35th Street,60616.0,Chicago,IL,(773) 536-8103,Ward04@cityofchicago.org

In [17]:
print(wards_census.columns)

Index(['WARD', 'ALDERMAN', 'ADDRESS', 'ZIPCODE', 'CITY', 'STATE', 'WARD PHONE',
       'EMAIL'],
      dtype='object')

#### > Suffixes

In [18]:
wards_census = wards.merge(census, on='WARD', suffixes=('_cen','_ward'))
print(wards_census.head())
print(wards_census.shape)

   WARD                    ALDERMAN                               ADDRESS  \
0    33  Rodriguez Sanchez, Rossana            3001 West Irving Park Road
1    17             Moore, David H.                 1344 West 79th Street
2    44              Tunney, Thomas  3223 North Sheffield Avenue, Suite A
3    37                 Mitts, Emma                5344 West North Avenue
4     4             King, Sophia D.                  435 East 35th Street

   ZIPCODE     CITY STATE      WARD PHONE                     EMAIL
0  60618.0  Chicago    IL  (773) 840-7880         Info@33rdward.org
1  60636.0  Chicago    IL  (773) 783-3672       Alderman@17ward.com
2  60657.0  Chicago    IL  (773) 525-6034  Ward44@cityofchicago.org
3  60651.0  Chicago    IL  (773) 379-0960  Ward37@cityofchicago.org
4  60616.0  Chicago    IL  (773) 536-8103  Ward04@cityofchicago.org
(50, 8)

# 1.2 - One to many relationships

In [19]:
licenses = pd.read_csv('Business_Licenses.csv')
print(licenses.head())
print(licenses.shape)

   _id           Begin Date                    Owner Name  \
0    1  2018-07-09T00:00:00            KASMARK THOMAS LEE
1    2  2018-03-09T00:00:00     QUINA WILLIAM QUINA ROBIN
2    3  2018-03-09T00:00:00     QUINA WILLIAM QUINA ROBIN
3    4  2019-02-15T00:00:00   PLUSH N PRETTY BOUTIQUE LLC
4    5  2018-05-04T00:00:00          PIVOTAL VENTURES LLC

                    Trade Name         Business Address   Business City  \
0       VENTILATION SPECIALIST     3832 CUMBERLAND PKWY  VIRGINIA BEACH
1                     PUP PLAN  3832 LASALLE DR APT 105  VIRGINIA BEACH
2                     PUP PLAN  3832 LASALLE DR APT 105  VIRGINIA BEACH
3  PLUSH N PRETTY BOUTIQUE LLC    3832 SHOOTING STAR DR  VIRGINIA BEACH
4         PIVOTAL VENTURES LLC       3835 WINTHROPE CIR  VIRGINIA BEACH

  Business State Business Zip Code Business Zip+4     Telephone  \
0             VA             23452           2220  757-232-4866
1             VA             23453           4774  321-295-6504
2             VA             23453           4774  321-295-6504
3             VA             23456           1319  757-502-9895
4             VA             23452           3924  757-647-4979

           Mailing Address    Mailing City Mailing State Mailing Zip Code  \
0     3832 CUMBERLAND PKWY  VIRGINIA BEACH            VA            23452
1  3832 LASALLE DR APT 105  VIRGINIA BEACH            VA            23453
2  3832 LASALLE DR APT 105  VIRGINIA BEACH            VA            23453
3    3832 SHOOTING STAR DR  VIRGINIA BEACH            VA            23456
4       3835 WINTHROPE CIR  VIRGINIA BEACH            VA            23452

  Mailing Zip+4      NAICS     Business Classification
0          2220  322293-01         Commission Merchant
1          4774  812910-01         Animal Care Service
2          4774  812990-01  Personal Service - General
3          1319  454890-02           Nonstore Retailer
4          3924  923110-01         Educational Service
(13137, 17)

In [20]:
ward_licenses = wards.merge(licenses, on='ward', suffixes=('_ward','_lic'))
print(ward_licenses.head())

# 1.3 - Merging multiple DataFrames

#### > Theoretical merge

In [21]:
grants_licenses = grants.merge(licenses, on='zip')
print(grants_licenses.loc[grants_licenses['business']=="REGGIE'S BAR & GRILL",['grant','company','account','ward','business']])

#### > Single merge

In [22]:
grants.merge(licenses, on=['address','zip'])

#### > Merging multiple tables

In [ ]:
grants_licenses_ward = grants.merge(licenses, on=['address','zip']).merge(wards, on='ward', suffixes=('_bus','_ward'))
grants_licenses_ward.head()

#### > Results

In [ ]:
import matplotlib.pyplot as plt
grant_licenses_ward.groupby('ward').agg('sum').plot(kind='bar', y='grant')
plt.show()

#### > Merging even more

In [23]:
'''
Three tables:
df1.merge(df2, on='col').merge(df3, on='col')

Four tables:
df1.merge(df2, on='col').merge(df3, on='col').merge(df4, on='col')
'''

"\nThree tables:\ndf1.merge(df2, on='col').merge(df3, on='col')\n\nFour tables:\ndf1.merge(df2, on='col').merge(df3, on='col').merge(df4, on='col')\n"

# 2.1 - Left join

In [26]:
movies = pd.read_csv('tmdb-movies.csv')
movies.shape

(10866, 21)

In [ ]:
movies_taglines = movies.merge(taglines, on='id', how='left')
print(movies_taglines.head())

# 2.2 - Other joins

#### > Right Join

In [ ]:
tv_movies = movies.merge(tv_genre, how='right',left_on='id', right_on='movie_id')
print(tv_movies.head())

#### > Outer Join

In [ ]:
family_comedy = family.merge(comedy, on='movie_id', how='outer',suffixes=('_fam','_com'))
print(family_comedy)

# 2.3 - Merging a table to itself

In [ ]:
original_sequels = sequels.merge(sequels, left_on='sequel', right_on='id',suffixes=('_org','_seq'))
print(original_sequels.head())

#### > Merging a table to itself with left join

In [ ]:
original_sequels = sequels.merge(sequels, left_on='sequel', right_on='id',how='left', suffixes=('_org','_seq'))
print(original_sequels.head())

# 2.4 - Merging on indexes

#### > Setting an index

In [27]:
movies = pd.read_csv('tmdb-movies.csv', index_col=['id'])
print(movies.head())

          imdb_id  popularity     budget     revenue  \
id
135397  tt0369610   32.985763  150000000  1513528810
76341   tt1392190   28.419936  150000000   378436354
262500  tt2908446   13.112507  110000000   295238201
140607  tt2488496   11.173104  200000000  2068178225
168259  tt2820852    9.335014  190000000  1506249360

                      original_title  \
id
135397                Jurassic World
76341             Mad Max: Fury Road
262500                     Insurgent
140607  Star Wars: The Force Awakens
168259                     Furious 7

                                                     cast  \
id
135397  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
76341   Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
262500  Shailene Woodley|Theo James|Kate Winslet|Ansel...
140607  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
168259  Vin Diesel|Paul Walker|Jason Statham|Michelle ...

                                                 homepage          director  \
id
135397                      http://www.jurassicworld.com/   Colin Trevorrow
76341                         http://www.madmaxmovie.com/     George Miller
262500     http://www.thedivergentseries.movie/#insurgent  Robert Schwentke
140607  http://www.starwars.com/films/star-wars-episod...       J.J. Abrams
168259                           http://www.furious7.com/         James Wan

                              tagline  \
id
135397              The park is open.
76341              What a Lovely Day.
262500     One Choice Can Destroy You
140607  Every generation has a story.
168259            Vengeance Hits Home

                                                 keywords  \
id
135397  monster|dna|tyrannosaurus rex|velociraptor|island
76341    future|chase|post-apocalyptic|dystopia|australia
262500  based on novel|revolution|dystopia|sequel|dyst...
140607              android|spaceship|jedi|space opera|3d
168259                car race|speed|revenge|suspense|car

                                                 overview  runtime  \
id
135397  Twenty-two years after the events of Jurassic ...      124
76341   An apocalyptic story set in the furthest reach...      120
262500  Beatrice Prior must confront her inner demons ...      119
140607  Thirty years after defeating the Galactic Empi...      136
168259  Deckard Shaw seeks revenge against Dominic Tor...      137

                                           genres  \
id
135397  Action|Adventure|Science Fiction|Thriller
76341   Action|Adventure|Science Fiction|Thriller
262500         Adventure|Science Fiction|Thriller
140607   Action|Adventure|Science Fiction|Fantasy
168259                      Action|Crime|Thriller

                                     production_companies release_date  \
id
135397  Universal Studios|Amblin Entertainment|Legenda...       6/9/15
76341   Village Roadshow Pictures|Kennedy Miller Produ...      5/13/15
262500  Summit Entertainment|Mandeville Films|Red Wago...      3/18/15
140607          Lucasfilm|Truenorth Productions|Bad Robot     12/15/15
168259  Universal Pictures|Original Film|Media Rights ...       4/1/15

        vote_count  vote_average  release_year    budget_adj   revenue_adj
id
135397        5562           6.5          2015  1.379999e+08  1.392446e+09
76341         6185           7.1          2015  1.379999e+08  3.481613e+08
262500        2480           6.3          2015  1.012000e+08  2.716190e+08
140607        5292           7.5          2015  1.839999e+08  1.902723e+09
168259        2947           7.3          2015  1.747999e+08  1.385749e+09

#### > MultiIndex datasets

In [ ]:
samuel = pd.read_csv('samuel.csv',index_col=['movie_id','cast_id'])
print(samuel.head())

In [ ]:
samuel_casts = samuel.merge(casts, on=['movie_id','cast_id'])
print(samuel_casts.head())
print(samuel_casts.shape)

#### > Index merge with left_on and right_on

In [ ]:
movies_genres = movies.merge(movie_to_genres, left_on='id', left_index=True,right_on='movie_id', right_index=True)
print(movies_genres.head())

# 3.1 - Filtering joins

#### > Step 1 - semi-join

In [ ]:
genres_tracks = genres.merge(top_tracks, on='gid')
print(genres_tracks.head())

#### > Step 2 - semi-join

In [ ]:
genres['gid'].isin(genres_tracks['gid'])

#### > Step 3 - semi-join

In [ ]:
genres_tracks = genres.merge(top_tracks, on='gid')
top_genres = genres[genres['gid'].isin(genres_tracks['gid'])]
print(top_genres.head())

#### > Step 1 - anti-join

In [ ]:
genres_tracks = genres.merge(top_tracks, on='gid', how='left', indicator=True)
print(genres_tracks.head())

#### > Step 2 - anti-join

In [ ]:
gid_list = genres_tracks.loc[genres_tracks['_merge'] == 'left_only','gid']
print(gid_list.head())

#### > Step 3 - anti-join

In [ ]:
genres_tracks = genres.merge(top_tracks, on='gid', how='left', indicator=True)
gid_list = genres_tracks.loc[genres_tracks['_merge'] =='left_only','gid']
non_top_genres = genres[genres['gid'].isin(gid_list)]
print(non_top_genres.head())

# 3.2 - Concatenate DataFrames together vertically

#### > Basic concatenation

In [ ]:
pd.concat([inv_jan, inv_feb, inv_mar])

#### > Ignoring the index

In [ ]:
pd.concat([inv_jan, inv_feb, inv_mar],ignore_index=True)

#### > Setting labels to original tables

In [ ]:
pd.concat([inv_jan, inv_feb, inv_mar], ignore_index=False,keys=['jan','feb','mar'])

#### > Concatenate tables with different column names

In [ ]:
pd.concat([inv_jan, inv_feb],sort=True)

In [ ]:
pd.concat([inv_jan, inv_feb],join='inner')

In [ ]:
Simplied version ofthe .concat() method
Supports: ignore_index , and sort
Does Not Support: keys and join
    Always join = outer

#### > Using append method

In [ ]:
inv_jan.append([inv_feb, inv_mar],ignore_index=True,sort=True)

# 3.3 - Verifying integrity

#### > Merge validate: one_to_one

In [ ]:
tracks.merge(specs, on= 'tid',validate='one_to_one')

#### > Merge validate: one_to_many

In [ ]:
albums.merge(tracks, on='aid',validate='one_to_many')

#### > Verifying concatenation: example

In [ ]:
pd.concat([inv_feb, inv_mar],verify_integrity=False)
pd.concat([inv_feb, inv_mar],verify_integrity=True)

# 4.1 - Using merge_ordered()

#### > Merging stock data

In [29]:
import pandas as pd
pd.merge_ordered(appl, mcd, on='date', suffixes=('_aapl','_mcd'))

NameError: name 'appl' is not defined

#### > Forward fill example

In [ ]:
pd.merge_ordered(appl, mcd, on='date',suffixes=('_aapl','_mcd'),fill_method='ffill')

# 4.2 - Using merge_asof()

In [ ]:
pd.merge_asof(visa, ibm, on='date_time',suffixes=('_visa','_ibm'))

#### > merge_asof() example with direction

In [ ]:
pd.merge_asof(visa, ibm, on=['date_time'],suffixes=('_visa','_ibm'),direction='forward')

# 4.3 - Selecting data with .query()

#### > Querying on a multiple conditions,"and","or"

In [ ]:
stocks.query('nike > 90 and disney < 140')
stocks.query('nike > 96 or disney < 98')

#### > Using .query() to select text

In [ ]:
stocks_long.query('stock=="disney" or (stock=="nike" and close < 90)')

# 4.4 - Reshaping data with .melt()

In [ ]:
social_fin_tall = social_fin.melt(id_vars=['financial','company'])
print(social_fin_tall.head(10))

#### > Melting with value_vars

In [ ]:
social_fin_tall = social_fin.melt(id_vars=['financial','company'],value_vars=['2018','2017'])
print(social_fin_tall.head(9))

#### > Melting with column names

In [ ]:
social_fin_tall = social_fin.melt(id_vars=['financial','company'],value_vars=['2018','2017'],var_name=['year'], value_name='dollars')
print(social_fin_tall.head(8))

# 4.5 - Course wrap-up